################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chesspp
/chesscmd/int
/chesslib/int
/chessui/bin
/chesslib/bin
/chesslib/bin
